// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$material-dark: (
  background: #151718,
  cards: #151718
);

@import '~vuetify/src/styles/styles.sass';
